<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SOPT 서버 20기 배다슬</h1>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/pokemon">go to pokemon</a>
  </body>
</html>
